body{
    
    
    background-color:#F1F1F1;
    color: black;
    font-size:15px;
font-weight: 500;
font-family:'Courier New', Courier, monospace;
    }
    a{
        color:blue;
        text-decoration:none;

    }
   .invoker{
    width: 300px;
    border-radius: 29px;
   box-shadow: 4px 4px 4px 14px rgba(0, 0, 0, 0.25);
   }
   .info p{
    color: rgb(15, 4, 107) ;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    /* */
    letter-spacing: 3px;
    word-spacing: 5px;
   }
   .main {
    max-width: 750px;
       margin: auto;

   
   }
   /*.social {
   background:green;
border: solid red;
border-right-color: black;
border-top-width: 20px;
border-right-width:20px;
padding:15px;
margin: 15px;
   }*/
   .box div {
    float:left;
    background: black;
    height: 200px;
    width:25%;
    
    border: 4px solid red;
    box-sizing: border-box;
   }
 
   .block1{
    background:#fff9dc;
    margin: 20px;
   padding-bottom: 15px;
   padding-top: 5px;
   padding-left: 20px;
   padding-right: 5px;
   border-radius: 25px;
   
   }
   .block2{
    background:#e5ffe7;
    margin: 20px;
   padding-bottom: 15px;
   padding-top: 5px;
   padding-left: 20px;
   padding-right: 5px;
   border-radius: 25px;
   }
   .block3{
    background:#ffe5e5;
    margin: 20px;
   padding-bottom: 15px;
   padding-top: 5px;
   padding-left: 20px;
   padding-right: 5px;
   border-radius: 25px;
   }
   .block3 .sms2{
    text-align: center;
   }
   .hoby{
    background: rgb(44, 158, 192);
    margin: 20px;
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 5px;
    border-radius: 25px;
   }
.spisok{
padding: 0 20px;
}
.spisok li{
    color: rgba(83, 12, 83, 0.925);
    border-bottom:1px solid grey;
}
.block2 td:nth-child(2),.block2 td:nth-child(3) {
color: grey;

}
.block2 td:nth-child(1){
    font-weight: bold;
}
.block1 li{
    font-size: large;
    font-weight: bold;
    border-bottom:1px solid grey;
}
.block3 input {
    border:none;
   width: 100%;
   background: transparent;
   border-bottom:1px solid #000;
}
.mms {
    font-weight: bold;
    text-align: center;
    font-size: large;
}
.bbt{
   
   color: #e5ffe7;
    padding: 15px 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    cursor: pointer;

}




